.text_box{
  display: inline-block;
  width: 200px;
  height: 55px;
  z-index: 1;
  background-color: white;
  color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 99vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav{
  background-color: black;
overflow: hidden;
}

.topnav a{
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.leaflet-container {
  width: 99vw;
  height: 100vh;
  z-index: 0;
}

.map-container{
  padding-top: 10px;
  background-color: #282c34;
  z-index: -1;
}

.menu-container {
  background-color: #282c34;
  color: white;
}


.dropdown {
  display: inline-block;
  width: 200px;
  z-index: 1;
  color: black;
  background-color: #282c34;
  caret-color: #04AA6D;
}
